@font-face {
  font-family: "SDGothic";
  src: url(./font/AppleSDGothicNeoR.ttf);
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "SDGothic";
}

header {
  display: flex;
  align-items: center;
  height: 40%;
}
header img {
  height: 90%;
  margin-left: 23%;
  border: 3px solid transparent;
  background: linear-gradient(to left, transparent, pink, skyblue, transparent);
}
header div {
  flex-direction: column;
  margin-left: 5%;
}
header h1 {
  font-size: 35px;
  color: #7bbeec;
}
header table {
  font-size: 18px;
  text-align: left;
}
header th,
header td {
  padding: 5px 5px;
}
header th {
  color: #ffd8df;
}
header td {
  color: grey;
}
header a {
  color: grey;
}
header audio {
  padding: 10px 0px;
  height: 35px;
  width: 270px;
}
hr {
  border: 0px;
  height: 20px;
  background: linear-gradient(to left, transparent, pink, skyblue, transparent);
  margin: 0px;
}

.content {
  display: flex;
  font-size: 18px;
  color: grey;
}
nav {
  background: linear-gradient(to left, #b9e3f4, white);
  width: 20%;
}
nav ul {
  padding: 30px 40px;
  line-height: 1.8em;
  list-style-type: none;
  font-size: 25px;
}
nav a {
  text-decoration: none;
  color: grey;
}
section {
  width: 80%;
}
section a {
  color: rgb(45, 45, 45);
}
article {
  padding: 2% 5%;
}
article h2 {
  color: #93c6e7;
  letter-spacing: 0.1ch;
  font-size: 30px;
  line-height: 1.5em;
}
article table {
  border-collapse: collapse;
  margin-bottom: 50px;
}
article th,
article td {
  padding: 10px 10px;
  vertical-align: top;
  text-align: left;
}
article th {
  color: #ffd8df;
}
article ul {
  line-height: 1.8em;
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 100px;
}
article ul p {
  margin: 0px 10px;
  color: #dbd1d0;
  line-height: 1.5em;
}
article span {
  font-weight: bold;
}
footer {
  background-color: blue;
  height: 20%;
  background: linear-gradient(to left, transparent, pink, skyblue, transparent);
  padding: 2% 24% 0% 23.5%;
}
footer p {
  margin: 0px 0px 5px 0px;
  color: grey;
}
footer a {
  color: rgb(45, 45, 45);
}
